body {
    font: bold 12pt helvetica;
    color: #c7f9cc;
    background-color: #57cc99;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3vh;
    text-shadow: 2px 2px 5px #38A3A5;
}
